.main {
    width: 928px;
    height: 330px;
    margin: auto;
    display: flex;
}



.esc {
    width: 60px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
}


.k {
    margin-left: 6px;
    margin-top: 4px;
    position: absolute;
}



.f1 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-left: 65px;
    margin-top: 1px;
}


.k1 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.f2 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 119px;
}


.k2 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}





.f3 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 173px;
}


.k3 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.f4 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 227px;
}


.k4 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.f5 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 281px;
}


.k5 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}




.f6 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 335px;
}


.k6 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.f7 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 389px;
}


.k7 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.f8 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 443px;
}


.k8 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}


.f9 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 497px;
}


.k9 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.f10 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 551px;
}


.k10 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}




.f11 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 605px;
}


.k11 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.f12 {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 659px;
}


.k12 {
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}



.home {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 713px;
}


.k13 {
    margin-left: 8px;
    margin-top: 4px;
    position: absolute;
}



.end {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 767px;
}


.k14 {
    margin-left: 10px;
    margin-top: 4px;
    position: absolute;
}



.insert {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 821px;
}


.k15 {
    margin-left: 8px;
    margin-top: 4px;
    position: absolute;
}



.delete {
    width: 50px;
    height: 33px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 1px;
    margin-left: 875px;
}


.k16 {
    margin-left: 7px;
    margin-top: 4px;
    position: absolute;
}




.f13 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 1px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}

.k17 {
    margin-top: 2px;
    margin-left: 4px;
    position: absolute;
}


.l {
    margin-top: 10px;
    position: absolute;
}


.f18 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 65px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k18 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}




.f19 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 129px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k19 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}



.f20 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 193px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k20 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}




.f21 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 257px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k21 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}



.f22 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 321px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k22 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}



.f23 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 385px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k23 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}



.f24 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 449px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k24 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}



.f25 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 513px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k25 {
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}



.f26 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 577px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k26 {
    margin-top: 4px;
    margin-left: 11px;
    position: absolute;
}



.f27 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 642px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k27 {
    margin-top: 4px;
    margin-left: 7px;
    position: absolute;
}




.f28 {
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left:707px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k28 {
    margin-top: -2px;
    margin-left: 5px;
    position: absolute;
}


.line1{
margin-top: 8px;
position: absolute;


}



.f29{
    width: 60px;
    height: 54px;
    margin-top: 37px;
    margin-left: 772px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k29 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}


.line2{
position: absolute;
margin-top: 3px;
}



.f30{
    width: 88px;
    height: 54px;
    margin-top: 37px;
    margin-left: 837px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k30 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.f31{
    width: 83px;
    height: 54px;
    margin-top: 94px;
    margin-left: 1px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k31 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.f32{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 88px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k32 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}




.f33{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 152px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k33{
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.f34{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 216px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k34 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}




.f35{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 280px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k35 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}




.f36{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 344px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k36 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.f38{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 408px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k38 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.f39{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 472px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k39 {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}


.f41{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 536px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k41{
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}




.f42{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 600px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k42{
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}




.f43{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 664px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k43{
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.f44{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 728px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k44{
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.b{
margin-left: 2px;
}



.f45{
    width: 60px;
    height: 54px;
    margin-top: 94px;
    margin-left: 792px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k45{
    margin-top: 7px;
    margin-left: 8px;
    position: absolute;
}



.f46{
    width: 68px;
    height: 54px;
    margin-top: 94px;
    margin-left: 857px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k46{
    margin-top: 7px;
    margin-left: 8px;
    position: absolute;
}




.f47{
    width: 99px;
    height: 54px;
    margin-top: 151px;
    margin-left: 1px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k47{
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}




.a{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 104px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.a1{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f48{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 168px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k48{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f49{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 232px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k49{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}




.f50{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 297px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k50{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}




.f51{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 362px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k51{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f52{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 427px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k52{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}




.f53{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 493px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k53{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f54{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 559px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k54{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f55{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left:624px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k55{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f56{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 689px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k56{
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
}



.f57{
    width: 60px;
    height: 54px;
    margin-top: 151px;
    margin-left: 754px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k57{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f58{
    width: 106px;
    height: 54px;
    margin-top: 151px;
    margin-left: 819px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k58{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f59{
    width: 130px;
    height: 54px;
    margin-top: 208px;
    margin-left: 1px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k59{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f60{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 135px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k60{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f61{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 199px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k61{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}


.f62{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 263px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k62{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f63{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 327px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k63{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}




.f64{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 391px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k64{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}




.f65{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 455px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k65{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f66{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 519px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k66{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}


.f67{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 583px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k67{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f68{
    width: 60px;
    height: 54px;
    margin-top: 208px;
    margin-left: 647px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k68{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f69{
    width: 63px;
    height: 54px;
    margin-top: 208px;
    margin-left: 711px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k69{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f70{
    width: 147px;
    height: 54px;
    margin-top: 208px;
    margin-left: 778px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k70{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f71{
    width: 65px;
    height: 58px;
    margin-top: 265px;
    margin-left: 1px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k71{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}


.f72{
    width: 62px;
    height: 58px;
    margin-top: 265px;
    margin-left: 70px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k72{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}




.f73{
    width: 60px;
    height: 58px;
    margin-top: 265px;
    margin-left: 135px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k73{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}


.img{
width:33px;
height: 33px;
margin-left:13px ;
margin-top: 13px;
}



.f74{
    width: 60px;
    height: 58px;
    margin-top: 265px;
    margin-left: 199px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k74{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f75{
    width: 316px;
    height: 58px;
    margin-top: 265px;
    margin-left: 263px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}


.f76{
    width: 60px;
    height: 58px;
    margin-top: 265px;
    margin-left: 584px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k76{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f77{
    width: 60px;
    height: 58px;
    margin-top: 265px;
    margin-left: 648px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k77{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f78{
    width: 62px;
    height: 58px;
    margin-top: 265px;
    margin-left:712px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k78{
    margin-top: 12px;
    margin-left: 5px;
    position: absolute;
}



.f79{
    width: 40px;
    height: 58px;
    margin-top: 265px;
    margin-left: 780px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k79{
    margin-top: 19px;
    margin-left: 13px;
    position: absolute;
}




.f80{
    width: 50px;
    height: 25px;
    margin-top: 265px;
    margin-left: 825px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k80{
    margin-top: 10px;
    margin-left: 19px;
    position: absolute;
}


.f81{
    width: 50px;
    height: 25px;
    margin-top: 297px;
    margin-left: 825px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k81{
    margin-top: 5px;
    margin-left: 19px;
    position: absolute;
}



.f82{
    width: 40px;
    height: 58px;
    margin-top: 265px;
    margin-left: 880px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
}



.k82{
    margin-top: 19px;
    margin-left: 13px;
    position: absolute;
}
