.main {
    background-color: rgb(196, 195, 195);
    width: 400px;
    height: 480px;
    margin-left: 450PX;
    margin-top: 50px;
    border: 2px solid black;
}



.home {
    background-color: rgb(20, 114, 158);
    height: 60px;
    width: 350px;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    border: 2px solid black;
    color: white;
    font-size: 30px;
    
    
       
}
.text{
    padding: 20px;
}



.product {
    background-color: rgb(20, 114, 158);
    height: 60px;
    width: 350px;
    position: absolute;
    margin-top: 120px;
    margin-left: 25px;
    border: 2px solid black;
}

.product label {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 103px;
    margin-top: 13px;
    position: absolute;
    color: white;
    font-style: ;
}



.service {
    background-color: rgb(20, 114, 158);
    height: 60px;
    width: 350px;
    position: absolute;
    margin-top: 220px;
    margin-left: 25px;
    border: 2px solid black;
}

.service label {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 103px;
    margin-top: 13px;
    position: absolute;
    color: white;
}



.about {
    background-color: rgb(20, 114, 158);
    height: 60px;
    width: 350px;
    position: absolute;
    margin-top: 320px;
    margin-left: 25px;
    border: 2px solid black;
}

.about label {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 120px;
    margin-top: 13px;
    position: absolute;
    color: white;
}