* {
  margin: 0px;
  padding: 0px;
}

.das {
  background-color: transparent;
  width: 100%;
  height: 70px;
  margin-top: -50px;
}

.nev {
  width: 100%;
  height: 70px;
  background-color: #191919;
  position: fixed;
  z-index: 100;
}

.tittle {
  color: white;
}

.day {
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 16px;
  position: absolute;
  color: white;
  margin-left: 117px;
  font-weight: 600;
}

.links {
  float: right;
  margin-top: 27px;
  width: 700px;

  margin-right: 94px;
}

.a0 {
  color: white;
  text-decoration: none;
  padding: 25px;
  font-family: sans-serif;
  margin-top: 28px;
  margin-left: -20px;

  font-size: 15px;
}

.a0:hover {
  background-color: #cc1616;
  height: 50px;
  transition: 0.3s;
}

.a1 {
  background-color: transparent;
  color: white;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 102px;
  margin-left: 10px;

  position: absolute;
  font-size: 14px;
}

.a1:hover {
  background-color: #cc1616;
  height: 68px;
  margin-top: -25px;
  cursor: pointer;
}

.a2 {
font-family: sans-serif;
  color: white;
  text-decoration: none;
  margin-left: 110px;
  position: absolute;
  padding: 25px;
  margin-top: -26px;
}

.a2:hover {
  background-color: #cc1616;
  transition: 0.3s;
}

.o {
  color: black;
  background-color: white;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(home1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  scroll-margin-top: 50px;
}

.w {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  position: absolute;
  margin-top: 240px;
  font-weight: bolder;
  margin-left: 120px;
}

.p {
  position: absolute;
  color: white;
  margin-top: 306px;
  margin-left: 120px;
  font-size: 26px;
  font-family: sans-serif;
}

.btn1 {
  background-color: transparent;
  border-color: white;
  color: white;
  position: absolute;
  margin-top: 360px;
  margin-left: 120px;
  font-size: 15px;
  text-decoration: none;
  border: 2px solid white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 9px;
  font-family: sans-serif;
  width: 104px;
  transition: ease-in-out 0.4s;
}

.btn1:hover {
  background-color: #cc1616;
  border: none;
  margin-left: 120px;
  margin-top: 360px;
  border: 2px solid transparent;
  width: 104px;
  height: 17px;
}

.about {
  position: absolute;
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 95vh;
}

.about2 {
  margin-left: 60px;
  margin-top: -20px;
}

.v {
  line-height: 27px;
  color: black;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 62px;
  margin-left: 60px;
  position: absolute;
  font-weight: 590;
}

.v2 {
  color: #444444;
  position: absolute;
  margin-top: 125px;
  margin-left: 60px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-style: italic !important;
}

.t1 {
  position: absolute;
  width: 33px;
  margin-top: 180px;
  margin-left: 53px;
}

.t2 {
  position: absolute;
  width: 33px;
  margin-top: 258px;
  margin-left: 53px;
}

.t3 {
  position: absolute;
  width: 33px;
  margin-top: 216px;
  margin-left: 53px;
}

.v3 {
  position: absolute;
  color: #444444;
  margin-top: 185px;
  margin-left: 88px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 15px;
}

.v4 {
  line-height: 10px;
  position: absolute;
  color: #444444;
  margin-top: 229px;
  margin-left: 88px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 15px;
}

.v5 {
  line-height: 24px;
  position: absolute;
  color: #444444;
  margin-top: 263px;
  margin-left: 57px;
  font-family: sans-serif;
  font-size: 17px;
}

.v8 {
  position: absolute;
  margin-top: 350px;
  margin-left: 58px;
  font-family: sans-serif;
  color: #444444;
  font-size: 17px;
  line-height: 27px;
}

.about4 {
  width: 547px;
  height: auto;
  float: right;
  margin-top: 60px;
  margin-right: 116px;
}

.sections {
  position: absolute;
  background-size: cover;
  background-color: white;

  height: 90vh;
  margin-top: 570px;
  margin-left: 116px;
  display: flex;
}

.z1 {
  box-shadow: 0px 0px 7px 2px rgb(231, 219, 219);
  width: 317px;
  border-radius: 5px;
  height: 240px;
  padding: 22px;
  transition: ease-in-out 0.3s;
  padding-left: 30px;
}

.z2 {
  color: red;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.z3 {
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 500;
}

.z4 {
  font-family: sans-serif;
  line-height: 1.3;
  color: rgb(175, 175, 175);
  line-height: 25px;
}

.z1:hover {
  padding-top: 15px;
  background-color: #cc1616;
  color: white;
  height: 248px;
  border-radius: 5px;
}

.z1:hover .z2 {
  color: white;
}

.z1:hover .z4 {
  color: white;
}

.y1 {
  box-shadow: 0px 0px 7px 2px rgb(231, 219, 219);
  width: 317px;
  border-radius: 5px;
  height: 240px;
  padding: 22px;
  transition: ease-in-out 0.3s;
  padding-left: 30px;
  margin-left: 25px;
}

.y2 {
  color: red;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.y3 {
  font-size: 27px;
  font-family: sans-serif;
  font-weight: 700;
}

.y4 {
  font-family: sans-serif;
  line-height: 1.3;
  color: rgb(175, 175, 175);
  line-height: 25px;
}

.y1:hover {
  padding-top: 15px;
  background-color: #cc1616;
  color: white;
  height: 248px;
  border-radius: 5px;
}

.y1:hover .y2 {
  color: white;
}

.y1:hover .y4 {
  color: white;
}

.x1 {
  box-shadow: 0px 0px 7px 2px rgb(231, 219, 219);
  width: 317px;
  border-radius: 5px;
  height: 240px;
  padding: 22px;
  transition: ease-in-out 0.3s;
  padding-left: 30px;
  margin-left: 25px;
}

.x2 {
  color: red;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.x3 {
  font-size: 27px;
  font-family: sans-serif;
  font-weight: 700;
}

.x4 {
  font-family: sans-serif;
  line-height: 1.3;
  color: rgb(175, 175, 175);
  line-height: 25px;
}

.x1:hover {
  padding-top: 15px;

  background-color: #cc1616;
  color: white;
  height: 248px;
  border-radius: 5px;
}

.x1:hover .x2 {
  color: white;
}
.x1:hover .x4 {
  color: white;
}

.imgs {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  height: 105px;
  margin-top: 910px;
  margin-left: -1px;
}

.c {
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
}

.c1 {
  filter: grayscale(100%);
  width: 84px;
  height: 36px;
  margin-top: 5px;
  margin-left: 100px;
  transition: ease-in-out 0.3s;
}
.c1:hover {
  filter: brightness(100%);
  scale: 1.2;
}

.c2 {
  width: 85px;
  height: 29px;
  margin-left: 106px;
  margin-top: 8px;
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
}

.c2:hover {
  filter: brightness(100%);
  scale: 1.2;
}

.c3 {
  width: 85px;
  height: 29px;
  margin-left: 105px;
  margin-top: 8px;
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
}

.c3:hover {
  filter: brightness(100%);
  scale: 1.2;
}

.c4 {
  width: 95x;
  height: 45px;
  margin-top: 1px;
  margin-left: 106px;
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
}

.c4:hover {
  filter: brightness(100%);
  scale: 1.2;
}

.c5 {
  width: 80px;
  height: 30px;
  margin-top: 7px;
  margin-left: 110px;
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
}

.c5:hover {
  filter: brightness(100%);
  scale: 1.2;
}

.c6 {
  width: 83px;
  height: 27px;
  margin-top: 10px;
  margin-left: 109px;
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
}

.c6:hover {
  filter: brightness(100%);
  scale: 1.2;
}

.services {
  width: 100%;
  height: 153vh;
  background-size: cover;
  background-color: white;
  margin-top: 1000px;
}

.s {
  position: absolute;
  color: #f4f4f4;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 45px;
  margin-left: 563px;
  margin-top: 77px;
}

.s1 {
  position: absolute;
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 600px;
  margin-top: 100px;
}

.s2 {
  position: absolute;
  margin-left: 454px;
  margin-top: 160px;
  font-family: sans-serif;
}

.boxes1 {
  display: flex;
}

.boxes2 {
  display: flex;
  margin-top: 25px;
}
.box1 {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  width: 315px;
  height: 297px;
  padding: 20px;
  transition: ease-in-out 0.3s;
  margin-top: 210px;
  margin-left: 117px;
}

.box1:hover {
  background-color: #cc1616;
  color: white;
  padding-top: 16px;
  height: 301px;
}

.box1:hover .b2 {
  color: white;
}

.box1:hover .photo {
  background-color: white;
}

.box1:hover .img1 {
  filter: brightness(130%);
}

.box1:hover .shadow {
  background-color: rgb(219 92 92);
}

.img1 {
  filter: brightness(100);
  width: 25px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.shadow {
  width: 25px;
  height: 28px;
  background-color: rgb(247 220 220);
  padding: 18px;
  margin-left: 118px;
  margin-top: 57px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.photo {
  width: 27px;
  height: 28px;
  background-color: #cc1616;
  padding: 18px;
  margin-left: 125px;
  margin-top: 63px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.b1 {
  position: absolute;
  font-family: sans-serif;
  margin-left: 80px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 147px;
}

.b2 {
  position: absolute;
  font-family: sans-serif;
  line-height: 1.5;
  color: rgb(83, 83, 83);
  font-size: 15px;
  margin-top: 190px;
  transition: ease-in-out 0.3s;
}

.box2 {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  width: 315px;
  height: 297px;
  padding: 20px;
  transition: ease-in-out 0.3s;
  margin-top: 210px;
  margin-left: 25px;
}

.box2:hover {
  background-color: #cc1616;
  color: white;
  padding-top: 16px;
  height: 301px;
}

.box2:hover .b4 {
  color: white;
}

.box2:hover .photo1 {
  background-color: white;
}

.box2:hover .img2 {
  filter: brightness(130%);
}

.box2:hover .shadow1 {
  background-color: rgb(219 92 92);
}

.img2 {
  filter: brightness(100);
  width: 25px;
  position: absolute;
  transition: ease-in-out 0.3s;
  width: 30px;
  margin-left: -2px;
  margin-top: -2px;
}

.shadow1 {
  width: 25px;
  height: 28px;
  background-color: rgb(247 220 220);
  padding: 18px;
  margin-left: 118px;
  margin-top: 55px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.photo1 {
  width: 27px;
  height: 28px;
  background-color: #cc1616;
  padding: 18px;
  margin-left: 125px;
  margin-top: 62px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.b3 {
  position: absolute;
  font-family: sans-serif;
  margin-left: 50px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 145px;
}

.b4 {
  position: absolute;
  font-family: sans-serif;
  line-height: 1.6;
  color: rgb(83, 83, 83);
  font-size: 15px;
  margin-top: 188px;
  transition: ease-in-out 0.3s;
  margin-left: 25px;
}

.box3 {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  width: 315px;
  height: 297px;
  padding: 20px;
  transition: ease-in-out 0.3s;
  margin-top: 210px;
  margin-left: 25px;
}

.box3:hover {
  background-color: #cc1616;
  color: white;
  padding-top: 16px;
  height: 301px;
}

.box3:hover .b6 {
  color: white;
}

.box3:hover .photo2 {
  background-color: white;
}

.box3:hover .img3 {
  filter: brightness(100%);
}

.box3:hover .shadow2 {
  background-color: rgb(219 92 92);
}

.img3 {
  filter: brightness(100);
  width: 25px;
  position: absolute;
  transition: ease-in-out 0.3s;
  width: 35px;
  margin-left: -4px;
  margin-top: -5px;
}

.shadow2 {
  width: 29px;
  height: 29px;
  background-color: rgb(247 220 220);
  padding: 18px;
  margin-left: 118px;
  margin-top: 53px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.photo2 {
  width: 29px;
  height: 29px;
  background-color: #cc1616;
  padding: 18px;
  margin-left: 125px;
  margin-top: 60px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.b5 {
  position: absolute;
  font-family: sans-serif;
  margin-left: 75px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 145px;
}

.b6 {
  position: absolute;
  font-family: sans-serif;
  line-height: 1.5;
  color: rgb(83, 83, 83);
  font-size: 15px;
  margin-top: 190px;
  transition: ease-in-out 0.3s;
  margin-left: 3px;
}

.box4 {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  width: 315px;
  height: 297px;
  padding: 20px;
  transition: ease-in-out 0.3s;
  margin-left: 117px;
  text-align: center;
}

.box4:hover {
  background-color: #cc1616;
  color: white;
  padding-top: 16px;
  height: 301px;
}

.box4:hover .box4text .b8 {
  color: white;
}

.box4:hover .box4img {
  background-color: white;
}

.box4:hover .img4 {
  filter: brightness(100%);
}

.box4:hover.shadow3 {
  background-color: rgb(219 92 92);
}

.img4 {
  width: 55px;
  transition: ease-in-out;
  filter: brightness(100);
  margin-top: -14px;
  margin-left: -10px;
}

.shadow3 {
  width: 29px;
  height: 29px;
  background-color: rgb(247 220 220);
  padding: 18px;
  margin-left: 118px;
  margin-top: 53px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.box4img {
  width: 29px;
  height: 29px;
  background-color: #cc1616;
  padding: 18px;
  margin-left: 125px;
  margin-top: 60px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.box4text {
  margin-top: 140px;
}

.b7 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.b8 {
  font-family: sans-serif;
  line-height: 1.5;
  color: rgb(83, 83, 83);
  font-size: 15px;
  transition: ease-in-out 0.3s;
  margin-top: 50px;
}

.box5 {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  width: 315px;
  height: 297px;
  padding: 20px;
  transition: ease-in-out 0.3s;
  margin-left: 20px;
  text-align: center;
}

.box5:hover {
  background-color: #cc1616;
  color: white;
  padding-top: 16px;
  height: 301px;
}

.box5:hover .b10 {
  color: white;
}

.box5:hover .photo4 {
  background-color: white;
}

.box5:hover .img5 {
  filter: brightness(130%);
}

.box5:hover .shadow4 {
  background-color: rgb(219 92 92);
}

.img5 {
  filter: brightness(100);
  width: 50px;

  transition: ease-in-out 0.3s;
  margin-left: -10px;
  margin-top: -8px;
}

.shadow4 {
  width: 29px;
  height: 29px;
  background-color: rgb(247 220 220);
  padding: 18px;
  margin-left: 118px;
  margin-top: 53px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.photo4 {
  width: 29px;
  height: 29px;
  background-color: #cc1616;
  padding: 18px;
  margin-left: 125px;
  margin-top: 60px;
  position: absolute;
  transition: ease-in-out 0.3s;
  color: #dee2e6;
}

.box5text {
  margin-top: 140px;
}

.b9 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.b10 {
  font-family: sans-serif;
  line-height: 1.5;
  color: rgb(83, 83, 83);
  font-size: 15px;
  transition: ease-in-out 0.3s;
  margin-top: 50px;
}

.box6 {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  width: 315px;
  height: 297px;
  padding: 20px;
  transition: ease-in-out 0.3s;
  margin-left: 20px;
  text-align: center;
}

.box6:hover {
  background-color: #cc1616;
  color: white;
  padding-top: 16px;
  height: 301px;
}

.box6:hover .b12 {
  color: white;
}

.box6:hover .photo6 {
  background-color: white;
}

.box6:hover .img6 {
  filter: brightness(130%);
}

.box6:hover .shadow6 {
  background-color: rgb(219 92 92);
}

.img6 {
  filter: brightness(100);
  width: 80px;
  transition: ease-in-out 0.3s;
  margin-left: -25px;
  margin-top: -24px;
}

.shadow6 {
  width: 29px;
  height: 29px;
  background-color: rgb(247 220 220);
  padding: 18px;
  margin-left: 118px;
  margin-top: 53px;
  position: absolute;
  transition: ease-in-out 0.3s;
}

.photo6 {
  width: 29px;
  height: 29px;
  background-color: #cc1616;
  padding: 18px;
  margin-left: 125px;
  margin-top: 60px;
  position: absolute;
  transition: ease-in-out 0.3s;
  color: #dee2e6;
}

.box6text {
  margin-top: 140px;
}

.b11 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.b12 {
  font-family: sans-serif;
  line-height: 1.5;
  color: rgb(83, 83, 83);
  font-size: 15px;
  transition: ease-in-out 0.3s;
  margin-top: 50px;
}

.backgroundimg {
  background-color: #0c0c0c;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.call {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),
    url(cta.jpg);
  background-size: cover;
  padding: 120px 0;
  background-attachment: fixed;
  height: 26.8vh;
  background-position: center;
}

.text3 {
  position: absolute;
  width: 95%;
  height: 180px;
  text-align: center;
  margin-top: -280px;
}

.h1 {
  width: fit-content;
  color: white;
  font-size: 28px;
  font-family: sans-serif;
  margin-left: 45.5%;
}

.h2 {
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  line-height: 23px;
  margin-left: 70px;
  margin-top: 12px;
}

.btn2 {
  background-color: transparent;
  color: white;
  border-color: white;
  width: 185px;
  height: 45px;
  border: 2px solid;
  font-family: sans-serif;
  font-size: 15px;
  transition: ease-in-out 0.4s;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 60px;
}

.btn2:hover {
  background-color: #cc1616;
  border: 2px solid #cc1616;
}

.portfolio {
  width: 100%;
  height: 230vh;
  background-size: cover;
  background-color: white;
  position: absolute;
padding-top: 30px;
}

.d {
  position: absolute;
  color: #f4f4f4;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 50px;
  margin-left: 525px;
  margin-top: 65px;
}

.d1 {
  position: absolute;
  color: #191919;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 32px;
  margin-left: 581px;
  margin-top: 92px;
}

.d2 {
  position: absolute;
  color: #191919;
  font-family: sans-serif;
  font-size: 17px;
  margin-left: 424px;
  margin-top: 153px;
}

.links1 {
  display: flex;
  text-decoration: none;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 210px;
  margin-left: 522px;
}

.f {
  margin-left: 35px;
  text-decoration: none;
  color: #444444;
  transition: ease-in-out 0.2s;
}

.f:hover {
  color: red;
}

.images1 {
  margin-left: 8px;
  margin-top: -30px;
  display: flex;
}

.pf1 {
  width: 357px;
  height: auto;
  margin-left: 110px;
  margin-top: 55px;
}

.pf2 {
  position: absolute;
  width: 360px;
  height: 235px;
  margin-top: 55px;
  margin-left: 490px;
}

.pf3 {
  width: 360px;
  height: 190px;
  margin-left: 407px;
  margin-top: 56px;
}

.pf4 {
  position: absolute;
  width: 357px;
  height: 535px;
  margin-top: 450px;
  margin-left: 110px;
}

.pf5 {
  width: 360px;
  height: 550px;
  position: absolute;
  margin-left: 490px;
  margin-top: 320px;
}

.pf6 {
  width: 360px;
  height: 250px;
  position: absolute;
  margin-top: 278px;
  margin-left: 875px;
}

.pf7 {
  position: absolute;
  width: 360px;
  height: 235px;
  margin-top: 560px;
  margin-left: 875px;
}

.pf8 {
  width: 360px;
  height: 240px;
  position: absolute;
  margin-top: 825px;
  margin-left: 875px;
}

.pf9 {
  width: 360px;
  height: 250px;
  position: absolute;
  margin-left: 490px;
  margin-top: 897px;
}

.pricing {
  width: 100%;
  height: 110vh;
  position: absolute;
  margin-top: 1425px;
  background-color: white;
  text-align: center;
padding-top: 50px;
}

.r1 {
  color: #f4f4f4;
  font-family: sans-serif;
  font-size: 55px;
}

.r2 {
  position: absolute;
  color: #191919;
  font-family: sans-serif;
  font-size: 33px;
  margin-left: -184px;
  margin-top: 30px;
}

.r3 {
  color: #444444;
  font-family: sans-serif;
  font-size: 17px;
  margin-top: 23px;
}

.cn1 {
  background-color: #f9f9f9;
  width: 355px;
  height: 440px;
  border-radius: 8px;

  margin-left: 120px;
  position: absolute;
  margin-top: 30px;
}

.f1 {
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: 500;
  font-size: 17px;
}

.sup {
  position: absolute;
  font-size: 20px;
  margin-left: -13px;
  margin-top: 3px;
}

.h4 {
  color: #cc1616;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin-top: 30px;
}

.span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.k1 {
  font-family: sans-serif;
  color: #191919;
  line-height: 35px;
  font-size: 14px;
  margin-top: 23px;
  position: absolute;
  margin-left: -72px;
}

.delS1 {
  text-align: center;
  margin-top: 135px;
  color: #bababa;
  font-family: sans-serif;
  font-size: 15px;
  margin-left: -10px;
}

.btn3 {
  background-color: #cc1616;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  border: none;
  padding: 11px 36px;
  cursor: pointer;
  margin-top: 45px;
  margin-left: -15px;
  transition: ease-in-out 0.2s;
}

.btn3:hover {
  background-color: #e82d2d;
}

.cn2 {
  background-color: #cc1616;
  width: 355px;
  height: 440px;
  border-radius: 8px;
  margin-left: 500px;
  position: absolute;
  margin-top: 30px;
}

.f2 {
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.sup2 {
  position: absolute;
  font-size: 20px;
  margin-left: -13px;
  margin-top: 3px;
}

.h42 {
  color: white;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin-top: 30px;
}

.span2 {
  color: rgba(255, 255, 255, 0.58);
  font-size: 16px;
  font-weight: 300;
}

.k2 {
  font-family: sans-serif;
  color: white;
  line-height: 35px;
  font-size: 14px;
  margin-top: 13px;
  position: absolute;
  margin-left: -68px;
}

.delS2 {
  text-align: center;
  margin-top: 164px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: -6px;
}

.btn4 {
  background-color: #d64545;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  border: none;
  padding: 11px 36px;
  cursor: pointer;
  margin-top: 33px;
  margin-left: -2px;
  transition: ease-in-out 0.2s;
}

.btn4:hover {
  background-color: white;
  color: #cc1616;
}

.cn3 {
  background-color: #f9f9f9;
  width: 355px;
  height: 440px;
  border-radius: 8px;
  margin-left: 880px;
  position: absolute;
  margin-top: 30px;
}

.f3 {
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.sup3 {
  position: absolute;
  font-size: 20px;
  margin-left: -13px;
  margin-top: 3px;
}

.h43 {
  color: #cc1616;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin-top: 30px;
}

.span3 {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.k3 {
  font-family: sans-serif;
  color: #191919;
  line-height: 35px;
  font-size: 14px;
  margin-top: 23px;
  position: absolute;
}

.btn5 {
  background-color: #cc1616;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  border: none;
  padding: 11px 36px;
  cursor: pointer;
  margin-top: 225px;
  transition: ease-in-out 0.2s;
}

.btn5:hover {
  background-color: #e82d2d;
}

.team {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: white;
  margin-top: 2140px;
  text-align: center;
padding-top: 90px;
}

.u1 {
  color: #f4f4f4;
  font-family: sans-serif;
  font-size: 40px;
}

.u2 {
  position: absolute;
  color: #191919;
  font-family: sans-serif;
  font-size: 27px;
  margin-left: -95px;
  margin-top: 22px;
}

.u3 {
  font-family: sans-serif;
  color: #444444;
  font-size: 17px;
  margin-top: 30px;
}

.contenors {
  display: flex;
  margin-top: 7px;
}

.cnt1 {
  width: 355px;
  height: 437px;
  border-radius: 8px;
  margin-left: 116px;
  margin-top: 30px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.team1 {
  max-width: 53%;
  border-radius: 50%;
  margin: 0 0 30px 0;
  margin-top: 28px;
}

.w1 {
  font-family: sans-serif;
  color: #444444;
}

.w2 {
  font-style: italic;
  display: block;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}

.w3 {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo1 {
  margin-top: 27px;

  margin-left: 25px;
}

.logo1:hover {
  filter: brightness(100%);
}

.fb1 {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-left: -60px;
  filter: grayscale(85%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.fb1:hover {
  filter: brightness(95%);
}

.twt1 {
  position: absolute;
  width: 33px;
  height: 33px;
  margin-left: -95px;
  transition: ease-in-out 0.3s;
  margin-top: -6px;
  filter: grayscale(85%);
  cursor: pointer;
}

.twt1:hover {
  filter: brightness(100%);
}
.ig1 {
  position: absolute;
  width: 27px;
  height: 27px;
  transition: ease-in-out 0.3s;
  margin-top: -3px;
  margin-left: 6px;
  filter: grayscale(85%);
  border-radius: 100%;
  cursor: pointer;
}

.ig1:hover {
  filter: brightness(100%);
}

.in1 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 40px;
  margin-top: 1px;
  filter: grayscale(85%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.in1:hover {
  filter: brightness(100%);
}

.cnt2 {
  width: 355px;
  height: 437px;
  border-radius: 8px;
  margin-left: 24px;
  margin-top: 30px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.team2 {
  max-width: 53%;
  border-radius: 50%;
  margin: 0 0 30px 0;
  margin-top: 28px;
}

.i1 {
  font-family: sans-serif;
  color: #444444;
}

.i2 {
  font-style: italic;
  display: block;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}

.i3 {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo2 {
  margin-top: 27px;

  margin-left: 25px;
}

.fb2 {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-left: -60px;
  filter: grayscale(85%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.fb2:hover {
  filter: brightness(95%);
}

.twt2 {
  position: absolute;
  width: 33px;
  height: 33px;
  margin-left: -95px;
  transition: ease-in-out 0.3s;
  margin-top: -6px;
  filter: grayscale(85%);
  cursor: pointer;
}

.twt2:hover {
  filter: brightness(100%);
}
.ig2 {
  position: absolute;
  width: 27px;
  height: 27px;
  transition: ease-in-out 0.3s;
  margin-top: -3px;
  margin-left: 6px;
  filter: grayscale(85%);
  border-radius: 100%;
  cursor: pointer;
}

.ig2:hover {
  filter: brightness(100%);
}

.in2 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 40px;
  margin-top: 1px;
  filter: grayscale(85%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.in2:hover {
  filter: brightness(100%);
}

.cnt3 {
  width: 355px;
  height: 437px;
  border-radius: 8px;
  margin-left: 24px;
  margin-top: 30px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.team3 {
  max-width: 53%;
  border-radius: 50%;
  margin: 0 0 30px 0;
  margin-top: 28px;
}

.e1 {
  font-family: sans-serif;
  color: #444444;
}

.e2 {
  font-style: italic;
  display: block;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}

.e3 {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo3 {
  margin-top: 27px;

  margin-left: 25px;
}

.fb3 {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-left: -60px;
  filter: grayscale(85%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.fb3:hover {
  filter: brightness(95%);
}

.twt3 {
  position: absolute;
  width: 33px;
  height: 33px;
  margin-left: -95px;
  transition: ease-in-out 0.3s;
  margin-top: -6px;
  filter: grayscale(85%);
  cursor: pointer;
}

.twt3:hover {
  filter: brightness(100%);
}
.ig3 {
  position: absolute;
  width: 27px;
  height: 27px;
  transition: ease-in-out 0.3s;
  margin-top: -3px;
  margin-left: 6px;
  filter: grayscale(85%);
  border-radius: 100%;
  cursor: pointer;
}

.ig3:hover {
  filter: brightness(100%);
}

.in3 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 40px;
  margin-top: 1px;
  filter: grayscale(85%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.in3:hover {
  filter: brightness(100%);
}

.contactinfo {
  display: flex;
  height: 140vh;
}

.contacts {
  text-align: center;
  width: 100%;
  height: 120vh;
background-color:white;
padding-top: 100px;
}

.j1 {
  color: #f4f4f4;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 51px;
  text-transform: uppercase;
}

.j2 {
  position: absolute;
  color: #191919;
  font-family: sans-serif;
  font-size: 30px;
  margin-left: -199px;
  margin-top: 30px;
}

.info {
  width: 550px;
  height: 170px;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  margin-left: 115px;
  margin-top: 35px;
}

.add {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-left: 245px;
  border: dotted 2px #f5a0a0;
  margin-top: 20px;
}

.adimg {
  width: 25px;
  margin-top: 8px;
}

.j3 {
  color: #444444;
  font-family: sans-serif;
  font-size: 17px;
  margin-top: 23px;
}

.address {
  font-family: sans-serif;
  color: #777777;
}

.A {
  line-height: 48px;
  font-family: sans-serif;
  color: #777777;
  font-size: 14px;
}

.photo7 {
  position: absolute;
}

.text4 {
  position: absolute;
  margin-top: 85px;
  margin-left: 140px;
}

.emailbox {
  width: 253px;
  height: 170px;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  margin-left: 25px;
  margin-top: 35px;
}

.imgborder {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  margin-left: 100px;
  border: dotted 2px #f5a0a0;
  margin-top: 20px;
  position: absolute;
}

.emailimg {
  width: 55px;
  margin-top: -6px;
  margin-left: -5px;
}

.emailtext {
  margin-top: 80px;
}

.emailus {
  font-family: sans-serif;
  color: #777777;
}

.email {
  line-height: 48px;
  font-family: sans-serif;
  color: #777777;
  font-size: 14px;
}

.photo8 {
  position: absolute;
}

.callbox {
  width: 253px;
  height: 170px;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  margin-left: 25px;
  margin-top: 35px;
}

.callborder {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  margin-left: 100px;
  border: dotted 2px #f5a0a0;
  margin-top: 20px;
}

.callimg {
  width: 55px;
  margin-top: -6px;
  margin-left: -5px;
}

.calltext {
  margin-top: 10px;
}

.callus {
  font-family: sans-serif;
  color: #777777;
}

.phone {
  line-height: 48px;
  font-family: sans-serif;
  color: #777777;
  font-size: 14px;
}

.map {
  margin-top: -13px;
}

iframe {
  border: 2px solid #ddd;
  margin-top: -450px;
  margin-left: 115px;
}

.form {
  width: 530px;
  height: 500px;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  margin-left: 690px;
  margin-top: -405px;
}

.name {
  padding: 15px;
  margin-top: 30px;
  margin-left: 32px;
  border-radius: 0%;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  width: 217px;
  height: 40px;
}

.name1 {
  padding: 15px;
  width: 471px;
  height: 40px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 32px;
  border-radius: 0%;
  border: 1px solid #dee2e6;
}

.message {
  width: 471px;
  height: 240px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 32px;
  border-radius: 0%;
  border: 1px solid #dee2e6;
  font-family: sans-serif;
  padding: 15px;
  resize: none;
}

.sendbtn {
  position: absolute;
  color: white;
  background-color: #cc1616;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 17px;
  margin-left: -310px;
  margin-top: 290px;
  transition: ease-in-out 0.3s;
}

.sendbtn:hover {
  background-color: #e82d2d;
  cursor: pointer;
}

.bottomnev {
  background-color: #0c0c0c;
  width: 100%;
  height: 83.5vh;
  margin-top: 60px;
  display: flex;
}

.daybox {
  text-align: center;
  background-color: #191919;
  width: 355px;
  height: 290px;
  margin-top: 55px;
  margin-left: 120px;
  border-top: 4px solid #cc1616;
}

.daytext {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.textt {
  color: white;
  font-family: sans-serif;
}

.dayh {
  font-family: sans-serif;
  font-size: 36px;
  margin-top: 30px;
}

.a10 {
  line-height: 28px;
  font-size: 14px;
}

.strong1 {
  font-size: 15px;
  margin-top: 5px;
}

.strong2 {
  line-height: 22px;
  margin-top: -15px;
  font-size: 14px;
}

.socialmedia {
  display: flex;

  margin-left: 60px;
  margin-top: 24px;
}

.socialimg {
  background-color: #262626;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-left: 10px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.social {
  filter: brightness(100);
  width: 20px;
  border-radius: 0%;
  margin-top: 7px;
  margin-left: -1px;
}

.socialimg:hover {
  background-color: #e82d2d;
}

.Useful {
  margin-top: 55px;
  color: white;
  margin-left: 20px;
}
.Useful h4 {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 18px;
}
.Useful ul {
  margin-top: 20px;
  list-style: none;
  font-family: sans-serif;
}
.Useful ul li a {
  color: white;
  margin-left: 4px;
  font-style: normal;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
transition:  ease-in-out 0.3s;
}

.Useful ul li span {
  margin-left: 6px;
  font-family: monospace;
  color: #cc1616;
  font-weight: bolder;
  font-size: 14px;
}

.serviceslast {
  margin-top: 55px;
  color: white;
  margin-left: 25px;
  margin-left: 60px;
}

.serviceslast h4 {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 18px;
}
.serviceslast ul {
  margin-top: 20px;
  list-style: none;
  font-family: sans-serif;
}


.serviceslast ul li a {
  color: white;
  margin-left: 4px;
  font-style: normal;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
transition: ease-in-out 0.3s;
}

.serviceslast ul li a:hover{
  color: red;
}


.Useful ul li a:hover{
  color: red;
}


.serviceslast ul li span {
  margin-left: 8px;
  font-family: monospace;
  color: #cc1616;
  font-weight: bolder;
  font-size: 14px;
}
/* 
#a1 {
  transition: all ease-in-out 0.3s;
}

#a1:hover {
  color: red;
}

#a2 {
  transition: all ease-in-out 0.3s;
}

#a2:hover {
  color: red;
}

#a3 {
  transition: all ease-in-out 0.3s;
}

#a3:hover {
  color: red;
}

#a4 {
  transition: all ease-in-out 0.3s;
}

#a4:hover {
  color: red;
}

#a5 {
  transition: all ease-in-out 0.3s;
}

#a5:hover {
  color: red;
}

#a6 {
  transition: all ease-in-out 0.3s;
}

#a6:hover {
  color: red;
}

#a7 {
  transition: all ease-in-out 0.3s;
}

#a7:hover {
  color: red;
}

#a8 {
  transition: all ease-in-out 0.3s;
}

#a8:hover {
  color: red;
}

#a9 {
  transition: all ease-in-out 0.3s;
}

#a9:hover {
  color: red;
}

#a10 {
  transition: all ease-in-out 0.3s;
}

#a10:hover {
  color: red;
} */

.news {
  color: white;
  height: 30vh;
  margin-top: 55px;
  width: 363.5px;
  margin-left: 35px;
  font-family: sans-serif;
  line-height: 22px;
  font-size: 15px;
}

.input1 {
  background-color: white;
  height: 40px;
  margin-top: 5px;
}

.input2 {
  width: 230px;
  height: 25px;
  margin-top: 7px;
  border: none;
  margin-left: 10px;
}

.submitbtn {
  background-color: #cc1616;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #fff;
  font-size: 16px;
  border: 4;
  border: none;
  cursor: pointer;
}

.copyright {
  background-color: transparent;
  width: 83.1%;
  height: 18vh;
  margin-top: 190px;
  position: absolute;
  margin-left: -758px;
  border-top: 1.5px solid #262626;
  text-align: center;
  position: absolute;
}

.copyrighttext {
  margin-top: 30px;
}
