.main {
    width: 904px;
    height: 912px;
    border: 10px solid orange;
    border-radius: 27px;
    margin-top: 10px;
    margin-left: 200px;
    background-color: white;
}


.green {
    background-color: rgb(25, 248, 5);
    width: 364px;
    height: 366px;
    border-top-left-radius: 20px;

}

.white1 {
    background-color: white;
    border-radius: 100%;
    width: 260px;
    height: 260px;
    position: absolute;
    margin-left: 48px;
    margin-top: 45px;
}




.g1 {
    background-color: rgb(25, 248, 5);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
}




.g2 {
    background-color: rgb(25, 248, 5);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 60px;
}




.g3 {
    background-color: rgb(25, 248, 5);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 140px;
}





.g4 {
    background-color: rgb(25, 248, 5);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 140px;
}

.box1 {

    margin-top: -7px;



}




.fa {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;

    width: 60px;
    height: 60px;
    margin-top: -360px;
    position: absolute;
    background-color: white;
    margin-left: 364px;
}


.f2 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -360px;
    position: absolute;
    background-color: white;
    margin-left: 425px;
}




.f3 {
    border: 1px solid rgb(158, 157, 157);

    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -360px;
    position: absolute;
    background-color: white;
    margin-left: 484px;
}




.f4 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -299px;
    position: absolute;
    background-color: white;
    margin-left: 364px;
}






.f5 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -299px;
    position: absolute;
    background-color: yellow;
    margin-left: 424px;
}






.f6 {
    border: 1px solid rgb(158, 157, 157);

    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -299px;
    position: absolute;
    background-color: yellow;
    margin-left: 484px;
}





.f7 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -238px;
    position: absolute;
    background-color: silver;
    margin-left: 364px;
}





.f8 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -238px;
    position: absolute;
    background-color: yellow;
    margin-left: 424px;
}






.f9 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -238px;
    position: absolute;
    background-color: white;
    margin-left: 484px;

}





.f10 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -177px;
    position: absolute;
    background-color: white;
    margin-left: 364px;

}





.f11 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -177px;
    position: absolute;
    background-color: yellow;
    margin-left: 424px;

}





.f12 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -177px;
    position: absolute;
    background-color: white;
    margin-left: 484px;

}





.f13 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -116px;
    position: absolute;
    background-color: white;
    margin-left: 364px;

}





.f14 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -116px;
    position: absolute;
    background-color: yellow;
    margin-left: 424px;
}





.f15 {
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    width: 60px;
    height: 60px;
    margin-top: -116px;
    position: absolute;
    background-color: white;
    margin-left: 484px;
}





.f16 {

    width: 60px;
    height: 61px;
    margin-top: -55px;
    position: absolute;
    background-color: white;
    margin-left: 364px;
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}






.f17 {

    width: 60px;
    height: 61px;
    margin-top: -55px;
    position: absolute;
    background-color: yellow;
    margin-left: 424px;
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.top {
    width: 0px;
    height: 0px;
    border-top: 89px solid yellow;
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
    margin-top: 7px;
    margin-left: 366px;
    position: absolute;
}




.f18 {

    width: 60px;
    height: 61px;
    margin-top: -55px;
    position: absolute;
    background-color: white;
    margin-left: 484px;
    border: 1px solid rgb(158, 157, 157);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}





.yellow {
    background-color: yellow;
    width: 360px;
    height: 367px;
    border-top-right-radius: 20px;
    position: absolute;
    margin-top: -360px;
    margin-left: 544px;

}



.y1 {
    background-color: yellow;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
}




.y2 {
    background-color: yellow;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 60px;
}




.y3 {
    background-color: yellow;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 140px;
}





.y4 {
    background-color: yellow;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 140px;
}


.box2 {
    margin-top: 100px;
}



.f19 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 59px;
    margin-top: -93px;
    position: absolute;
    background-color: white;
    margin-left: 0px;
    border-top: 0px;
    border-left: 0px;
}





.f20 {
    border: 1px solid rgb(158, 157, 157);

    width: 60px;
    height: 59px;
    margin-top: -93px;
    position: absolute;
    background-color: rgb(25, 248, 5);
    margin-left: 60px;

    border-top: 0px;


}





.f21 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -93px;
    position: absolute;
    background-color: white;
    margin-left: 121px;
    border-bottom: 0px;
    border-top: 0px;
}








.f22 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -93px;
    position: absolute;
    background-color: white;
    margin-left: 182px;
    border-bottom: 0px;
    border-top: 0px;
}








.f23 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -93px;
    position: absolute;
    background-color: white;
    margin-left: 243px;
    border-bottom: 0px;
    border-top: 0px;
}








.f24 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -93px;
    position: absolute;
    background-color: white;
    margin-left: 304px;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
}







.f25 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 59px;
    margin-top: -33px;
    position: absolute;
    background-color: white;
    margin-left: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
}





.f26 {
    background-color: rgb(25, 248, 5);
    width: 60px;
    height: 60px;
    margin-top: -33px;
    position: absolute;
    border: 1px solid rgb(158, 157, 157);
    margin-left: 60px;
    border-bottom: 0px;
    border-top: 0px;
}






.f27 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -33px;
    position: absolute;
    background-color: rgb(25, 248, 5);
    margin-left: 122px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}








.f28 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -33px;
    position: absolute;
    background-color: rgb(25, 248, 5);
    margin-left: 183px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}









.f29 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -33px;
    position: absolute;
    background-color: rgb(25, 248, 5);
    margin-left: 244px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}








.f30 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: -33px;
    position: absolute;
    background-color: rgb(25, 248, 5);
    margin-left: 305px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}






.f31 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: 27px;
    position: absolute;
    background-color: white;
    margin-left: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}






.f32 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: 27px;
    position: absolute;
    background-color: white;
    margin-left: 61px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}




.left {
    width: 0px;
    height: 0px;
    border-top: 89px solid transparent;
    border-left: 89px solid rgb(25, 248, 5);
    border-bottom: 89px solid transparent;
    margin-top: -91px;
    margin-left: 365px;
    position: absolute;
}




.f33 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: 27px;
    position: absolute;
    background-color: silver;
    margin-left: 122px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}



.f34 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: 27px;
    position: absolute;
    background-color: white;
    margin-left: 183px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}




.f35 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: 27px;
    position: absolute;
    background-color: white;
    margin-left: 244px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}


.f36 {
    border: 1px solid rgb(158, 157, 157);
    width: 60px;
    height: 60px;
    margin-top: 27px;
    position: absolute;
    background-color: white;
    margin-left: 305px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}





.red {
    background-color: red;
    width: 364px;
    height: 366px;
    border-bottom-left-radius: 20px;
    margin-top: 87px;
    position: absolute;
}




.r1 {
    background-color: red;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
}




.r2 {
    background-color: red;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 60px;
}




.r3 {
    background-color: red;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 140px;
}





.r4 {
    background-color: red;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 140px;
}




.f37 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 87px;
    margin-left: 364px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f38 {
    background-color: red;
    width: 60px;
    height: 60px;
    margin-top: 87px;
    margin-left: 424px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}


.f39 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 87px;
    margin-left: 483px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f40 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 148px;
    margin-left: 483px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f41 {
    background-color: red;
    width: 60px;
    height: 60px;
    margin-top: 148px;
    margin-left: 423px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f42 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 148px;
    margin-left: 364px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f43 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 209px;
    margin-left: 483px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f44 {
    background-color: red;
    width: 60px;
    height: 60px;
    margin-top: 209px;
    margin-left: 423px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f45 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 209px;
    margin-left: 364px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}





.f46 {
    background-color: silver;
    width: 60px;
    height: 60px;
    margin-top: 270px;
    margin-left: 483px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f47 {
    background-color: red;
    width: 60px;
    height: 60px;
    margin-top: 270px;
    margin-left: 423px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f48 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 270px;
    margin-left: 364px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f49 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 331px;
    margin-left: 483px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f50 {
    background-color: red;
    width: 60px;
    height: 60px;
    margin-top: 331px;
    margin-left: 423px;
    position: absolute;
    border: 2px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}



.f51 {
    background-color: red;
    width: 60px;
    height: 60px;
    margin-top: 331px;
    margin-left: 364px;
    position: absolute;
    border: 1px solid rgb(158, 157, 157);
    border-top: 0px;
    border-left: 0px;

}




.f52 {
    background-color: white;
    width: 60px;
    height: 61px;
    margin-top: 392px;
    margin-left: 483px;
    position: absolute;

}



.f53 {
    background-color: white;
    width: 57px;
    height: 61px;
    margin-top: 392px;
    margin-left: 424px;
    position: absolute;
    border: 1px solid  rgb(158, 157, 157);
    border-top: 0cap;
    border-bottom:0cap ;

    
}



.f54 {
    background-color: white;
    width: 60px;
    height: 61px;
    margin-top: 392px;
    margin-left: 364px;
    position: absolute;

}



.right {
    width: 0px;
    height: 0px;
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
    border-bottom: 89px solid red;
    position: absolute;
    margin-left: 366px;
    margin-top: -1px;
}




.blue {
    background-color:blue;
    width: 364px;
    height: 366px;
    border-bottom-right-radius: 20px;
    margin-left: 543px;
    position: absolute;
    border: 1px solid  rgb(158, 157, 157);
    margin-top: 86px;
border-right: 0px;    
border-bottom: 0px;
border-left:0px ;
}




.b1 {
    background-color: blue;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
}




.b2 {
    background-color: blue;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 60px;
}




.b3 {
    background-color: blue;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 140px;
}





.b4 {
    background-color: blue;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 140px;
    margin-top: 140px;
}



.f55{
background-color: white;
border: 2px;
width: 60px;
height: 60px;
margin-left: 543px;
margin-top: 27px;
position: absolute;
}



.f56{
    border: 1px solid silver;
    background-color: white;
    width: 60px;
    height: 60px;
    margin-left: 603px;
    margin-top: 27px;
    position: absolute;
border-right: 0px;    
border-top: 0px;
border-bottom: 0px;
}
    
    


.f57{
    border: 1px solid silver;
    background-color: white;
    width: 60px;
    height: 60px;
    margin-left: 664px;
    margin-top: 27px;
    position: absolute;
border-right: 0px;    
border-top: 0px;
border-bottom: 0px;
}



.f58{
    border: 1px solid silver;
    background-color: white;
    width: 60px;
    height: 60px;
    margin-left: 725px;
    margin-top: 27px;
    position: absolute;
border-right: 0px;    
border-top: 0px;
border-bottom: 0px;
}



.f59{
    border: 1px solid silver;
    background-color: blue;
    width: 60px;
    height: 60px;
    margin-left: 786px;
    margin-top: 27px;
    position: absolute;
border-right: 0px;
border-bottom: 0px;
}



.f60{
    border: 1px solid silver;
    background-color: white;
    width: 56px;
    height: 60px;
    margin-left: 847px;
    margin-top: 27px;
    position: absolute;
border-right: 0px;    
border-top: 0px;
border-bottom: 0px;
}




.f61{
    background-color: blue; 
    width: 60px;
    height: 60px;
    margin-left: 543px;
    margin-top: -33px;
    position: absolute;

}
    
    
    
    .f62{
        border: 1px solid silver;
        background-color: blue;
        width: 60px;
        height: 60px;
        margin-left: 603px;
        margin-top: -33px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
        
        
    
    
    .f63{
        border: 1px solid silver;
        background-color: blue;
        width: 60px;
        height: 60px;
        margin-left: 664px;
        margin-top: -33px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
    
    
    
    .f64{
        border: 1px solid silver;
        background-color: blue;
        width: 60px;
        height: 60px;
        margin-left: 725px;
        margin-top: -33px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
    
    
    
    .f65{
        border: 1px solid silver;
        background-color: blue;
        width: 60px;
        height: 60px;
        margin-left: 786px;
        margin-top: -33px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
    
    
    
    .f66{
        border: 1px solid silver;
        background-color: white;
        width: 56px;
        height: 60px;
        margin-left: 847px;
        margin-top: -33px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    }
    



    



.f67{
    background-color:white; 
    width: 60px;
    height: 60px;
    margin-left: 543px;
    margin-top: -93px;
    position: absolute;
    }
    
    
    
    .f68{
        border: 1px solid silver;
        background-color: white;
        width: 60px;
        height: 60px;
        margin-left: 603px;
        margin-top: -93px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
        
        
    
    
    .f69{
        border: 1px solid silver;
        background-color: white;
        width: 60px;
        height: 60px;
        margin-left: 664px;
        margin-top: -93px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
    
    
    
    .f70{
        border: 1px solid silver;
        background-color:silver;
        width: 60px;
        height: 60px;
        margin-left: 725px;
        margin-top: -93px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
    
    
    
    .f71{
        border: 1px solid silver;
        background-color: white;
        width: 61px;
        height: 60px;
        margin-left: 786px;
        margin-top: -93px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    border-bottom: 0px;
    }
    
    
    
    .f72{
        border: 1px solid silver;
        background-color: white;
        width: 56px;
        height: 60px;
        margin-left: 847px;
        margin-top: -93px;
        position: absolute;
    border-right: 0px;    
    border-top: 0px;
    }
    

.arrow{

position: absolute;
width: 0px;
height: 0px;
border-right:89px solid blue;
border-top:89px solid transparent;
border-bottom: 89px solid transparent;
margin-top: -91px;
margin-left: 456px;
}

